:root {
    /*Variáveis CSS*/
    --color-background: #F0F0F7;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #8257E5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842c2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /* tamanho da fonte */
    font-size: 60%; /* controle das medidas rem */
}

/* tirando margin e paddin padrão do browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    /* O tamanho da caixa será a borda e não o conteúdo da caixa.*/
}

html, 
body {
    height: 100vh;   /* Faz com que body ocupe todo o espaço visível da altura da página */
}

body {
    background: var(--color-background);
    display: flex;     /* Torna elementos dentro da caixa flexíveis */
    align-items: center;    /*Alinhar itens ao centro*/
    justify-content: center;   /*só funciona com display flex | */
}

body,
input,
button,
textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}

#container {
    width: 90vw; /* Faz com que body ocupe todo o espaço visível da largura da página */
    max-width: 700px;
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%;
    }
}